{% extends 'base.html.twig' %}
{% block title 'Gestion de biens' %}
{% block body %}
    <div class="container">
        <h1>Gérer les biens</h1>
        {% for message in app.flashes('delete') %}
            <p class="alert alert-danger">
                {{ message }}
            </p>
        {% endfor %}
    </div>
    <div class="container">
        <h2></h2>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>Titre du bien</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in property %}
                    <tr>
                        <td> {{ entity.title }}</td>
                        <td>
                            <a href="{{ path('admin.property.edit', {id: entity.id}) }}" class="btn btn-info">
                            Editer
                            </a>
                            <form action="{{ path('admin.property.delete', {id: entity.id}) }}" method="post" class="d-inline-block">
                                <input class="d-none" name="_method" value="DELETE">
                                <input class="d-none" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <a href="{{ path('admin.property.create') }}" class="btn btn-primary">
                    Creer un bien
                </a>
            </div>
        </div>
    </div>
{% endblock %}